.DelayedFadeIn {
	transition-delay: 400ms;
	transition-duration: 400ms;

	transform-origin: center left;
	transform: translateX(-5%) scale(0.8);
	opacity: 0;
}

.active .DelayedFadeIn {
	transform: none;
	opacity: 1;
}
