@import "../../styles/vars";

.DelayedFadeIn {
	transition-delay: $duration-medium;
	transition-duration: $duration-medium;

	transform-origin: center left;
	transform: translateX(-5%) scale(0.8);
	opacity: 0;
}

.active .DelayedFadeIn {
	transform: none;
	opacity: 1;
}
