@import "./vars";

html {
	font-size: 12px;

	@media (min-width: $screen-xs) {
		font-size: 14px;
	}

	@media (min-width: $screen-s) {
		font-size: 16px;
	}
}

body {
	font-family: "Gotham", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	overflow-x: hidden;
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
