@import "../../styles/vars";

// Using a container because the alignment of the button could be customizable
.Submit {
	&__button {
		padding: $spacing-s $spacing-l;
		background-color: $color-background;
		border: none;
		outline: none;
		border-radius: $radius-2;
		box-shadow: $box-shadow-item;
		font-size: $sizing-m;
		color: $color-text;

		transition: all $duration-short;

		&:hover,
		&:focus {
			box-shadow: $box-shadow-item-strong;
		}

		&:active {
			box-shadow: $box-shadow-item-inset;
			color: $color-text-strong;
			background-color: $color-page-background;
		}
	}
}
